button {
  width: 100px;
  height: 100px;
  background-color: rgb(216, 118, 118);
  border: none;
  border-radius: 4px;
  border-color: grey;
  color: white;
}
#draw-shapes {
  border: solid black 1px;
  background-color: black;
  height: 1400px;
  width: 1400px;
}
body {
  height: auto;
  width: auto;
}
